body {  
  font-family: sans-serif;
  margin: 0;
  padding: 0;  
  text-align: center;
}

h1 {
  margin-bottom: 0;
  margin-top: 40px;
}

h2 {
  display: inline-block;
  line-height: 40px;
  margin-right: 10px;
  width: 200px;
}

.button-row {
  display: inline-block;
  margin-left: 10px;
}

button {
  background-color: #5bbfb3;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 8px 0;
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
  width: 70px;  
}

.grid {
  line-height: 0;
  margin: 0 auto;
  margin-bottom: 40px;  
}

.cell {
  display: inline-block;
  height: 10px;
  width: 10px;  
}

.cell:hover {
  background-color: #cdebe8;
}

.live {
  background-color: #5bbfb3;
}

.dead {
  background-color: grey;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  h2 {
    box-sizing: border-box;
    font-size: 20px;
    margin-right: 0;
    text-align: left;
    width: 50%;
  }

  .button-row {
    margin-left: 0;    
  }
}

@media screen and (max-width: 340px) {
  h2 {
    box-sizing: border-box;
    font-size: 19px;
    margin-right: 0;
    text-align: left;
    width: 50%;
  }

  .button-row {
    margin-left: 0;    
  }

  button {
    width: 60px;
  }
}

